
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="{{asset('css/stylevisualitzaractivitat.css')}}" rel="stylesheet" type="text/css"/>
<link href="{{asset('css/select2.css')}}" rel="stylesheet" type="text/css"/>
<script src="{{ asset('js/jquery-1.9.1.min.js') }}"></script>
<script src="{{asset('js/select2.js')}}"></script>


<title>Template 1</title>

</head>
<body align="left">
<div id="content" align="left">
<form align="left" action="{{ accion == 'crear' ? path('extranet_activitat_nova') :
path('extranet_activitat_editar', { 'id': activitat.id }) }}" method="post" {{
form_enctype(formulario) }}>

<h1>REGISTRE ACTIVITAT</h1>
<td>{{ form_errors(formulario) }}</td>
<td>{{ form_widget(formulario._token) }}</td>
<div>
<br>
{% if accion == 'editar' %}
<td>ID ACTIVITAT: {{activitat.Id}}</td>
<br>
{% endif %}

<td>{{ form_label(formulario.Activitat, 'Nom intern activitat') }}</td>
<br>
<td>{{ form_widget(formulario.Activitat , { 'attr': {'size' : 100}})}}</td>
<br>
<br>
<td>{{ form_label(formulario.Titol, 'Títol') }}</td>
<br>
<td>{{ form_widget(formulario.Titol , { 'attr': {'size' : 100}})}}</td>
<br>
<br>
<td>{{ form_label(formulario.Subtitol, 'Subtitol') }}</td>
<br>
<td>{{ form_widget(formulario.Subtitol, { 'attr': {'size' : 100}}) }}</td>
<br>
<br>
<table width="100%">
<td width="20%">{{ form_label(formulario.Tipologia, 'Tipologia') }}</td>
<td width="20%">{{ form_label(formulario.Format, 'Format') }}</td>
<td width="25%">{{ form_label(formulario.Comite, 'Comite') }}</td>
<td width="20%">{{ form_label(formulario.Formador, 'Formador') }}</td>
<td width="5%">{{ form_label(formulario.Activada, 'Activada') }}</td>
<td width="5%">{{ form_label(formulario.Baixa, 'Baixa') }}</td>
<td width="5%">{{ form_label(formulario.DiesCaducitat, 'dies caducitat') }}</td>

</table>
<table width="100%">
<td width="20%">{{ form_widget(formulario.Tipologia, { 'attr': {'witdh' : 100}}) }}</td>
<td width="20%">{{ form_widget(formulario.Format) }}</td>
<td width="25%">{{ form_widget(formulario.Comite) }}</td>
<td width="20%">{{ form_widget(formulario.Formador) }}</td>
<td width="5%">{{ form_widget(formulario.Activada) }}</td>
<td width="5%">{{ form_widget(formulario.Baixa) }}</td>

<td width="5%">{{ form_widget(formulario.DiesCaducitat) }}</td>
</table>
<br>
<br>
<p>Camps template mail (no obligatori)
<br>
<td>{{ form_label(formulario.assumpte, 'Assumpte') }}</td>
<br>
<td>{{ form_widget(formulario.assumpte , { 'attr': {'size' : 100}})}}</td>
<br>
<br>
<table width="1100">
<td wwidth="500">Text titol  abans nick</td>
<td width="100">Incloure nick</td>
<td width="500">Text titol despres nick</td>
</table>
<table witdh="1100">
<td width="500">{{ form_widget(formulario.titol1, { 'attr': {'size' : 60}}) }}</td>	
<td width="100">{{ form_widget(formulario.nick) }}</td>	
<td width="500">{{ form_widget(formulario.titol2 ,{ 'attr': {'size' : 60}}) }}</td>	
</table>
<br>
<br>
<td>{{ form_label(formulario.contingut, 'Contingut') }}</td>
<br>
<td>{{ form_widget(formulario.contingut)}}</td>
<br>
<br>
<table width="100%">
<td width="100%">{{ form_label(formulario.Text1, 'Plantilla activitat (omple nomes els camps que necessitis). Es obligatori per cada camp afegir el tipus i el contingut (texte, link, etc...).') }}</td>	
</table>
<table witdh="100%">
<td width="500">{{ form_widget(formulario.TipusCamp1)}}</td>	
<td width="500">{{ form_widget(formulario.TipusCamp2)}}</td>	
</table>

<table witdh="100%">
<td width="50%">{{ form_widget(formulario.Text1) }}</td>	
<td width="50%">{{ form_widget(formulario.Text2)}}</td>	
</table>

<table witdh="100%">
<td width="500">{{ form_widget(formulario.TipusCamp3)}}</td>	
<td width="500">{{ form_widget(formulario.TipusCamp4)}}</td>	
</table>

<table witdh="100%">
<td width="50%">{{ form_widget(formulario.Text3) }}</td>	
<td width="50%">{{ form_widget(formulario.Text4)}}</td>	
</table>
<table witdh="100%">
<td width="500">{{ form_widget(formulario.TipusCamp5)}}</td>	
<td width="500">{{ form_widget(formulario.TipusCamp6)}}</td>	
</table>

<table witdh="100%">
<td width="50%">{{ form_widget(formulario.Text5) }}</td>	
<td width="50%">{{ form_widget(formulario.Text6)}}</td>	
</table>
<table witdh="100%">
<td width="500">{{ form_widget(formulario.TipusCamp7)}}</td>	
<td width="500">{{ form_widget(formulario.TipusCamp8)}}</td>	
</table>

<table witdh="100%">
<td width="50%">{{ form_widget(formulario.Text7)}}</td>	
<td width="50%">{{ form_widget(formulario.Text8)}}</td>	
</table>



</div>
{% if accion == 'crear' %}
<input class="boton" type="submit" value="Afegir activitat" />
{% else %}
<input class="boton" type="submit" value="Guardar canvis activitat" />
{% endif %}

<INPUT type="button" value="Tornar a la llista" onClick="location.href='{{ path('extranet_activitat')}}'">
<INPUT type="button" value="Tornar a portada" onClick="location.href='{{ path('extranet_portada')}}'">
{% if accion == 'editar' %}

<INPUT type="button" value="Preview" onClick="window.open('{{path('extranet_preview',{ 'id': activitat.id })}}','popUpWindow','height=800,width=1200,left=100,top=20,resizable=yes,scrollbars=yes,toolbar=yes,menubar=no,location=no,directories=no, status=yes');">
{% endif %}

</div>
</form>
</div>
</body>
</html>
