<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Template 1</title>
<link href="{{asset('css/activitat.css')}}" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="{{asset('css/style.css')}}" type="text/css" media="all">

</head>
<body>

<article>
<div id="content">
<table>
<thead>
<div id="logo"><img src="{{asset('uploads/images/logo_vitaworke3.png')}}" width="295" height="126" alt="logo" /></div>
<h1>Llistat activitats</h1>
<th>Activitat</th>
<th>Presentació</th>
<th>Formador</th>
<th>Imatge</th>
<th>Multimedia</th>
</tr>
</thead>
<tbody>
{% for activitat in activitats %}
<tr>
<td><a href="{{ path('extranet_activitat_editar', { 'id': activitat.id })}}">{{ activitat.activitat }}</td>
<td><a href="{{ path('extranet_activitat_editar', { 'id': activitat.id })}}">{{ activitat.presentacio}}</td>
<td>{{ activitat.formador}}</td>
<td><img witdh='20px' height='20px' src='{{'/uploads/imatges/' ~ activitat.pathImatge }}'/><td>

<video width="80" height="80" controls autoplay>
  <source src='{{'/uploads/multimedia/' ~ activitat.pathMultimedia}}' type="video/mp4">
  <object data='{{'/uploads/multimedia/' ~ activitat.pathMultimedia }}' width="320" height="240">
    <embed width="80" height="80" src="movie.swf">
  </object>
</video>

</tr>
{% endfor %}
</tbody>
</table>
<INPUT type="button" value="Afegir activitat" onClick="location.href='{{ path('extranet_activitat_nova')}}'">
<INPUT type="button" value="Tornar a portada" onClick="location.href='{{ path('extranet_portada')}}'">

</div>
</article>
</body>
</html>	