<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Template Calendari</title>
<link href="{{asset('css/stylevisuact.css')}}" rel="stylesheet" type="text/css" />
<script type="text/javascript">
</script>
</head>
  <body>
  <div id="content">
  <div id="maincontent">
  <form>
  <div id="logo"><img src="{{asset('uploads/images/logo.png')}}" width="181" height="75" alt="logo" /></div>
  <div id="maintext">
  <div id="header"><h1>{{calendari.Client}}</h1><h2>{{calendari.DiaActivitat|date}}</h2></div>
  <div id="divider"></div>
  <div id="text">
  <div id="text" align="center">{{calendari.Activitat}}</div>
  <div id="footer">
  </div>
  </div>
  </body>
  </html>