
 <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Template 1</title>
<link href="style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="content">
<h1>Clients</h1>
<table>
<thead>
<tr>
<th>Nom</th>
<th>Nick</th>
<th>Tipus Client</th>
<th>Associat a</th>
<th>Mail</th>

</tr>
</thead>
<tbody>
{% for client in clients %}
<tr>
<td><a href="{{ path('extranet_client_editar', { 'id': client.id })}}">{{ client.Nom}}</td>

<td>{{ client.Nick}}</td>
<td>{{ client.TipusClient}}"<td>
<td>{{ client.Associat}}</td>
<td>{{ client.Mail}}"<td>

</tr>
{% endfor %}
</tbody>
</table>
<INPUT type="button" value="Afegir client" onClick="location.href='{{ path('extranet_client_nou')}}'">
<INPUT type="button" value="Tornar a portada" onClick="location.href='{{ path('extranet_portada')}}'">
</div>
</body>
</html> 