<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" href="{{asset('css/style.css')}}" type="text/css" media="all">
</head>

<body>
<div id="content">
<div id="logo"><img src="{{asset('uploads/images/logo_vitaworke3.png')}}" width="295" height="126" alt="logo" /></div>
<div id="menu"><ul>
    <li><a href="{{ path('extranet_activitat')}}">Activitat</li>
    <li><a href="{{ path('extranet_calendari')}}">Calendari</a></li>
    <li><a href="http://vitaworke3.local/app_dev.php/admin/dashboard">Cuadre de comandament</a></li>
</ul></div>
<div id="contenido"> <article>{% block article %}{% endblock %}
   </article>
<div id="footer"><img src="{{asset('uploads/images/hr_thick.png')}}" width="960" height="8" alt="separacion" />
  <p>Vitawork E3</p></div>
</div>
</body>
</html>
