 <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Template 1</title>
<link href="{{asset('css/stylevisualitzaractivitat.css')}}" rel="stylesheet" type="text/css"/>
<link href="{{asset('css/select2.css')}}" rel="stylesheet" type="text/css"/>
<script src="{{ asset('js/jquery-1.9.1.min.js') }}"></script>
<script src="{{asset('js/select2.js')}}"></script>
<script>
        $(document).ready(function() { $("#associat").select2(); });
        
        function lista() {
		
		var lista = document.getElementById('associat');
		var url = lista.options[lista.selectedIndex].getAttribute('data-url');
		window.location = url;
	};
    </script>

</head>
<body>

<div id="content">
<h1>Grup</h1>
<select id="associat" name="associat" onchange='lista()' width="300" style="width: 300px">
   {% for associat in associats %} 
	<option value="{{ associat.slug }}" data-url="{{ url('extranet_grup_filtre', { 'idassociat': associat.id }) }}" {{ idassociat == associat.id ? 'selected="selected"' : '' }}>{{ associat.nom }}</option>
	{% endfor %}
  	<option value="Tots" data-url="{{ url('extranet_grup')}}" {{ idassociat == 'Tots' ? 'selected="selected"' : '' }}>Tots</option>
</select>
<br>
{{ simple_paginator_render('extranet_calendari', null, {
'container_class': 'paginador',
'previousPageText': 'Anterior',
'nextPageText': 'Siguiente',
'currentClass': 'actual',
'firstPageText': 'Primera',
'lastPageText': 'Última'
}) }}
<br>
<table width="900">
<td width="200">Nom</td>
<td width="200">Associat a</th>
<td width="200">Idioma prefixat</td>
<td width="200">Template</td>

<td width="100"></th>
</table>
{% for grup in grups %}
<table width="900">
<td width="200">{{ grup.Nom}}</td>
<td width="200">{{ grup.Associat}}</td>
<td width="200">{{ grup.Idioma}}</td>
<td width="200">{{ grup.Template}}</td>

<td width="100"><INPUT type="button" value="Editar" onClick="location.href='{{ path('extranet_grup_editar', {'id': grup.id })}}'"><td>
</table>
{% endfor %}

<ul class="paginador">
{% if paginador.currentPage > 1 %}
<li><a href="{{ path('extranet_grup', { 'page': paginador.previousPage
}) }}">Anterior</a></li>
{% else %}
<li>Anterior</li>
{% endif %}
{% for page in paginador.minPageInRange..paginador.maxPageInRange %}
{% if page == paginador.currentPage %}
<li class="actual">{{ page }}</li>
{% else %}
<li><a href="{{ path('extranet_grup', { 'page': page }) }}">{{ page
}}</a></li>
{% endif %}
{% endfor %}
{% if paginador.currentPage < paginador.lastPage %}
<li><a href="{{ path('extranet_grup', { 'page': paginador.nextPage })
}}">Siguiente</a></li>
{% else %}
<li>Siguiente</li>
{% endif %}
</ul>

<INPUT type="button" value="Afegir grup" onClick="location.href='{{ path('extranet_grup_nou')}}'">
<INPUT type="button" value="Tornar a perfil" onClick="location.href='{{ path('extranet_perfil')}}'">
<INPUT type="button" value="Tornar a portada" onClick="location.href='{{ path('extranet_portada')}}'">
</div>
</body>
</html> 