{% extends 'BackendBundle:Extranet:frontend.html.twig' %}
{% block submenu %}
<div id="submenu">

<div id="submenu_content">
<ul>
    <li><a href="{{ path('extranet_client')}}">Client</a></li>
    <li><a href="{{ path('extranet_empresa')}}">Empresa</a></li>
    <li><a href="{{ path('extranet_grup')}}">Grup</a></li>
    <li><a href="{{ path('extranet_comite')}}">Comite</a></li>
    <li><a href="{{ path('extranet_formador')}}">Formador</a></li>
    <li><a href="{{ path('extranet_template')}}">Plantilles</a></li>
 </ul>
 </div>
  </div>
{% endblock %}

