<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Template 1</title>
<link href="style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="content">
<h1>Nou calendari</h1>
<form action="{{ accion == 'crear' ? path('extranet_calendari_nou') :
path('extranet_calendari_editar', { 'id': calendari.id }) }}" method="post" {{
form_enctype(formulario) }}>
<td>{{ form_errors(formulario) }}</td>
<td>{{ form_widget(formulario._token) }}</td>
<br>
<td>{{ dia }}</td>
<br>
<br>
<td>{{ client }}</td>
<br>
<br>
<td>{{ form_label(formulario.Activitat, 'Activitat') }}</td>
<br>
<td>{{ form_widget(formulario.Activitat)}}</td>
<br>
<br>
<td>{{ form_label(formulario.DiesCaducitat, 'Dies caducitat activitat') }}</td>
<br>
<td>{{ form_widget(formulario.DiesCaducitat)}}</td>

<br>
<br>
<td>{{ form_label(formulario.Enviar, 'Enviar') }}</td>
<br>
<td>{{ form_widget(formulario.Enviar)}}</td>
<br>
<br>
<p>Camps template mail (no obligatori)
<br>
<td>{{ form_label(formulario.assumpte, 'Assumpte') }}</td>
<br>
<td>{{ form_widget(formulario.assumpte , { 'attr': {'size' : 100}})}}</td>
<br>
<br>
<table width="1100">
<td wwidth="500">Text titol  abans nick</td>
<td width="100">Incloure nick</td>
<td width="500">Text titol despres nick</td>
</table>
<table witdh="1100">
<td width="500">{{ form_widget(formulario.titol1, { 'attr': {'size' : 60}}) }}</td>	
<td width="100">{{ form_widget(formulario.nick) }}</td>	
<td width="500">{{ form_widget(formulario.titol2 ,{ 'attr': {'size' : 60}}) }}</td>	
</table>
<br>
<br>
<td>{{ form_label(formulario.contingut, 'Contingut') }}</td>
<br>
<td>{{ form_widget(formulario.contingut)}}</td>
<br>
<br>

{% if accion == 'editar' %}
<td>{{ form_label(formulario.Enviada, 'Enviada') }}</td>
<br>
<td>{{ form_widget(formulario.Enviada)}}</td>
<br>
<br>
<td>{{ form_label(formulario.Oberta, 'Oberta') }}</td>
<br>
<td>{{ form_widget(formulario.Oberta)}}</td>
<br>
<br>
<td>{{ form_label(formulario.Valorada, 'Valorada') }}</td>
<br>
<td>{{ form_widget(formulario.Valorada)}}</td>
<br>
<br>
<td>{{ form_label(formulario.Valoracio, 'Valoracio') }}</td>
<br>
<td>{{ form_widget(formulario.Valoracio)}}</td>
<br>
<br>

{% endif %}
        
<input class="boton" type="submit" value="Afegir activitat a calendari" />
<INPUT type="button" value="Tornar a la llista" onClick="location.href='{{ path('extranet_calendari')}}'">
<INPUT type="button" value="Tornar a portada" onClick="location.href='{{ path('extranet_portada')}}'">
</div>
</form>
</div>
</body>
</html>
