<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" href="{{asset('css/style.css')}}" type="text/css" media="all">
<script src="{{asset('js/jquery-1.9.1.min.js')}}"></script>

</head>

<body>
<div id="content">
<div id="logo"><img src="{{asset('uploads/images/logo_vitaworke3.png')}}" width="295" height="126" alt="logo"/></div>
<div id="menu"><ul>
    <li><a href="{{ path('extranet_activitat')}}">Actiiiiivitat</li>
    <li><a href="{{ path('extranet_calendari')}}">Calendari</a></li>
    <li><a href="http://vitaworke3.local/app.php/admin/dashboard">Cuadre de comandament</a></li>
</ul></div>
<div id="contenido"> 
<form action="..." method="POST" {{ form_enctype(form) }}>
    {# render the task's only field: description #}
    {{ form_row(form.description) }}

    <h3>Tags</h3>
    <ul class="tags" data-prototype="{{ form_widget(form.tags.vars.prototype)|e }}">
        {# iterate over each existing tag and render its only field: name #}
        {% for tag in form.tags %}
            <li>{{ form_row(tag.name) }}</li>
        {% endfor %}
    </ul>
   <script type="text/javascript">
   	// Get the ul that holds the collection of tags
		var collectionHolder = $('ul.tags');

	// setup an "add a tag" link
	var $addTagLink = $('<a href="#" class="add_tag_link">Add a tag</a>');
	var $newLinkLi = $('<li></li>').append($addTagLink);

	jQuery(document).ready(function() {
    	// add the "add a tag" anchor and li to the tags ul
    	collectionHolder.append($newLinkLi);

    	// count the current form inputs we have (e.g. 2), use that as the new
    	// index when inserting a new item (e.g. 2)
    	collectionHolder.data('index', collectionHolder.find(':input').length);
         collectionHolder.find('li').each(function() {
        addTagFormDeleteLink($(this));
    });

    	$addTagLink.on('click', function(e) {
        	// prevent the link from creating a "#" on the URL
        	e.preventDefault();

        	// add a new tag form (see next code block)
        	addTagForm(collectionHolder, $newLinkLi);
    	});
	});
	function addTagForm(collectionHolder, $newLinkLi) {
    // Get the data-prototype explained earlier
    var prototype = collectionHolder.data('prototype');

    // get the new index
    var index = collectionHolder.data('index');

    // Replace '__name__' in the prototype's HTML to
    // instead be a number based on how many items we have
    var newForm = prototype.replace(/__name__/g, index);

    // increase the index with one for the next item
    collectionHolder.data('index', index + 1);

    // Display the form in the page in an li, before the "Add a tag" link li
    var $newFormLi = $('<li></li>').append(newForm);
    $newLinkLi.before($newFormLi);
      // add a delete link to the new form
    addTagFormDeleteLink($newFormLi);
}

function addTagFormDeleteLink($tagFormLi) {
    var $removeFormA = $('<a href="#">delete this tag</a>');
    $tagFormLi.append($removeFormA);

    $removeFormA.on('click', function(e) {
        // prevent the link from creating a "#" on the URL
        e.preventDefault();

        // remove the li for the tag form
        $tagFormLi.remove();
    });
}

   </script>
    {{ form_rest(form) }}
    {# ... #}
    <input class="boton" type="submit" value="Afegir activitat" />

</form>
<div id="footer">
	<img src="{{asset('uploads/images/hr_thick.png')}}" width="960" height="8" alt="separacion"/>
  <p>Vitawork E3</p>
</div>
</div>
</body>
</html>


