{% extends 'BackendBundle:Extranet:portada.html.twig' %}
{% block main %}
   
<form align="left" action="{{ accion == 'crear' ? path('extranet_activitat_nova') :
path('extranet_activitat_editar', { 'id': activitat.id }) }}" method="post" {{
form_enctype(formulario) }}>
<div id="main">
<div id="main_content">
<div id="main_content_controls">
<h3>REGISTRE ACTIVITAT</h3></div>
<td>{{ form_errors(formulario) }}</td>
<td>{{ form_widget(formulario._token) }}</td>

<div id="main_content_forms">
<div id="main_content_firstcolumn">
{{form_widget(formulario.Activitat, { 'attr': {'placeholder': "Nom intern activitat"}})}}
</div>
<div id="main_content_secondcolumn">
{{ form_widget(formulario.Titol, { 'attr': {'placeholder': "Títol"}})}}
</div>
<div id="main_content_thirdcolumn">
{{ form_widget(formulario.Subtitol, { 'attr': {'placeholder': "Subtitol"}})}}
</div>
<div id="main_content_fourthcolumn">
</div>
</div>
<div id="main_content_forms">
<div id="main_content_firstcolumn">
{{form_label(formulario.Activada,'Activada')}} 
{{form_widget(formulario.Activada, { 'attr': {'class' : 'baixa'}})}}
</div>
<div id="main_content_secondcolumn">
{{form_label(formulario.Baixa,'Baixa')}} 
{{form_widget(formulario.Baixa, { 'attr': {'class' : 'baixa'}})}}
</div>
<div id="main_content_thirdcolumn">
{{ form_widget(formulario.DiesCaducitat, { 'attr': {'placeholder': "Dies Caducitat"}})}}
</div>
<div id="main_content_fourthcolumn">
</div>
</div>
<div id="main_content_forms">
<div id="main_content_firstcolumn">
{{ form_widget(formulario.Tipologia, { 'attr': {'placeholder': "Tipologia"}})}}
</div>
<div id="main_content_secondcolumn">
{{ form_widget(formulario.Format, { 'attr': {'placeholder': "Format"}})}}
</div>
<div id="main_content_thirdcolumn">
{{ form_widget(formulario.Comite, { 'attr': {'placeholder': "Comité"}})}}
</div>
<div id="main_content_fourthcolumn_2">
{{ form_widget(formulario.Formador, { 'attr': {'placeholder': "Formador"}})}}
</div>
<br>
<p style="color:#609">PLANTILLA EMAIL</p> 
{{form_widget(formulario.assumpte, { 'attr': {'placeholder': "Assumpte"}})}}
<div id="main_content_forms">
<div id="main_content_firstcolumn">
{{ form_widget(formulario.titol1, { 'attr': {'placeholder': "Text títol abans de Nick"}})}}
</div>
<div id="main_content_secondcolumn">
{{form_label(formulario.nick,'Incloure Nick')}} 
{{form_widget(formulario.nick,{ 'attr': {'class' : 'baixa'}}) }}
</div>
<div id="main_content_thirdcolumn">
{{ form_widget(formulario.titol2, { 'attr': {'placeholder': "Text títol després de Nick"}})}}
</div>
<div id="main_content_fourthcolumn">
</div>
</div>
{{ form_widget(formulario.contingut, { 'attr': {'placeholder': "Cos del mail"}})}}
<br>
<br>
{{ form_label(formulario.Text1, 'Plantilla activitat (omple nomes els camps que necessitis). Es obligatori per cada camp afegir el tipus i el contingut (texte, link, etc...).') }}
<br>
<br>
<div id="main_content_forms">
<div id="main_content_firstcolumnact">
{{ form_widget(formulario.TipusCamp1)}}
</div>
<div id="main_content_secondcolumnact">
</div>
<div id="main_content_thirdcolumnact">
</div>
<div id="main_content_fourthcolumnact">
{{ form_widget(formulario.TipusCamp2)}}
</div>
</div>
<div id="main_content_forms">
<div id="main_content_firstcolumnact">
{{ form_widget(formulario.file)}}
{% if activitat.path is defined %}
 {% if activitat.path is not null %}
 <img src="/uploads/imatges/{{activitat.path}}" width="50" height="50"></img>
 {% endif %} 
 {% endif %} 

</div>
<div id="main_content_secondcolumnact">
</div>
<div id="main_content_thirdcolumnact">
{{ form_widget(formulario.file2)}}
{% if activitat.path2 is defined %}
 {% if activitat.path2 is not null %}
 <img src="/uploads/imatges/{{activitat.path2}}" width="50" height="50"></img>
 {% endif %} 
 {% endif %} 
</div>
<div id="main_content_fourthcolumnact">

</div>
</div>
<div id="main_content_forms">
<div id="main_content_firstcolumnact">
{{form_widget(formulario.Text1) }}
</div>
<div id="main_content_secondcolumnact">
</div>
<div id="main_content_thirdcolumnact">
</div>
<div id="main_content_fourthcolumnact">
{{ form_widget(formulario.Text2)}}
</div>
</div>

<div id="main_content_forms">
<div id="main_content_firstcolumnact">
{{ form_widget(formulario.TipusCamp3)}}
</div>
<div id="main_content_secondcolumnact">
</div>
<div id="main_content_thirdcolumnact">
</div>
<div id="main_content_fourthcolumnact">
{{ form_widget(formulario.TipusCamp4)}}
</div>
</div>
<div id="main_content_forms">
<div id="main_content_firstcolumnact">
{{ form_widget(formulario.file3)}}
{% if activitat.path3 is defined %}
 {% if activitat.path3 is not null %}
 <img src="/uploads/imatges/{{activitat.path3}}" width="50" height="50"></img>
 {% endif %} 
 {% endif %} 
</div>
<div id="main_content_secondcolumnact">

</div>
<div id="main_content_thirdcolumnact">
{{ form_widget(formulario.file4)}}
{% if activitat.path4 is defined %}
 {% if activitat.path4 is not null %}
 <img src="/uploads/imatges/{{activitat.path4}}" width="50" height="50"></img>
 {% endif %} 
 {% endif %} 
</div>
<div id="main_content_fourthcolumnact">

</div>
</div>
<div id="main_content_forms">
<div id="main_content_firstcolumnact">
{{form_widget(formulario.Text3) }}</div>
<div id="main_content_secondcolumnact">
</div>
<div id="main_content_thirdcolumnact">
</div>
<div id="main_content_fourthcolumnact">
{{ form_widget(formulario.Text4)}}
</div>
</div>
<div id="main_content_forms">
<div id="main_content_firstcolumnact">
{{ form_widget(formulario.TipusCamp5)}}
</div>
<div id="main_content_secondcolumnact">
</div>
<div id="main_content_thirdcolumnact">
</div>
<div id="main_content_fourthcolumnact">
{{ form_widget(formulario.TipusCamp6)}}
</div>
</div>
<div id="main_content_forms">
<div id="main_content_firstcolumnact">
{{ form_widget(formulario.file5)}}
{% if activitat.path5 is defined %}
 {% if activitat.path5 is not null %}
 <img src="/uploads/imatges/{{activitat.path5}}" width="50" height="50"></img>
 {% endif %} 
 {% endif %}
</div>
<div id="main_content_secondcolumnact">
 
</div>
<div id="main_content_thirdcolumnact">
{{ form_widget(formulario.file6)}}
{% if activitat.path6 is defined %}
 {% if activitat.path6 is not null %}
 <img src="/uploads/imatges/{{activitat.path6}}" width="50" height="50"></img>
 {% endif %} 
 {% endif %} 
</div>
<div id="main_content_fourthcolumnact">

</div>
</div>
<div id="main_content_forms">
<div id="main_content_firstcolumnact">
{{form_widget(formulario.Text5) }}</div>
<div id="main_content_secondcolumnact">
</div>
<div id="main_content_thirdcolumnact">
</div>
<div id="main_content_fourthcolumnact">
{{ form_widget(formulario.Text6)}}
</div>
</div>

<div id="main_content_forms">
<div id="main_content_firstcolumnact">
{{ form_widget(formulario.TipusCamp7)}}
</div>
<div id="main_content_secondcolumnact">
</div>
<div id="main_content_thirdcolumnact">
</div>
<div id="main_content_fourthcolumnact">
{{ form_widget(formulario.TipusCamp8)}}
</div>
</div>
<div id="main_content_firstcolumnact">
{{ form_widget(formulario.file7)}}
{% if activitat.path7 is defined %}
 {% if activitat.path7 is not null %}
 <img src="/uploads/imatges/{{activitat.path7}}" width="50" height="50"></img>
 {% endif %} 
 {% endif %} 
</div>
<div id="main_content_secondcolumnact">

</div>
<div id="main_content_thirdcolumnact">
{{ form_widget(formulario.file8)}}
{% if activitat.path8 is defined %}
 {% if activitat.path8 is not null %}
 <img src="/uploads/imatges/{{activitat.path8}}" width="50" height="50"></img>
 {% endif %} 
 {% endif %} 
</div>
<div id="main_content_fourthcolumnact">

</div>
</div>
<div id="main_content_forms">
<div id="main_content_firstcolumnact">
{{form_widget(formulario.Text7) }}</div>
<div id="main_content_secondcolumnact">
</div>
<div id="main_content_thirdcolumnact">
</div>
<div id="main_content_fourthcolumnact">
{{ form_widget(formulario.Text8)}}
</div>
</div>


{% if accion == 'crear' %}
<input class="button_green" type="submit" value="Afegir activitat" />
{% else %}
<input class="button_green" type="submit" value="Guardar canvis activitat" />
<INPUT class="button_orange" type="button" value="Preview" onClick="location.href='{{ path('extranet_preview', {'id': activitat.id })}}'">
{% endif %}
<INPUT class="button_red" type="button" value="Sortir" onClick="location.href='{{ path('extranet_activitat')}}'">
</div>
</div>
</div>
</form>
{% endblock %}

